.product_column {
  width: 83.333%;
}

.filter-select {
  color: #f5f5f593;
  font-size: 14px;
  display: inline-flex;
  margin-bottom: 20px;
}

.selection {
  color: var(--content-text-color);
  position: relative;
}

.selection:hover {
  color: var(--title-text-color);
}

.filter-list {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--searchbar-background);
  border-radius: 4px;
  width: 200px;
  list-style: none;
  padding: 10px 17px;
  display: none;
  z-index: 2;
}

.filter-list::after {
  content: '';
  position: absolute;
  left: 0;
  width: 200px;
  height: 15px;
  top: -15px;
}

.selection:hover .filter-list {
  display: block;
}

.filter-items {
  padding: 8px 0;
}

.filter-items-link {
  color: var(--content-text-color);
  text-decoration: none;
  padding: 8px 0;
}

.filter-items-link:hover {
  color: var(--title-text-color);
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-items {
  list-style: none;
}

.pagination-items-active .pagination-items-link {
  color: #f5f5f5;
}

.pagination-items-link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #f5f5f599;
  min-width: 35px;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
}

.pagination-items-link:hover {
  color: #f5f5f5;
}
