.product_column {
  width: 83.333%;
}

.filter-select {
  color: #f5f5f593;
  font-size: 14px;
  display: inline-flex;
  margin-bottom: 20px;
}

.selection {
  color: var(--content-text-color);
  position: relative;
}

.selection:hover {
  color: var(--title-text-color);
}

.filter-list {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--searchbar-background);
  border-radius: 4px;
  width: 200px;
  list-style: none;
  padding: 10px 17px;
  display: none;
  z-index: 2;
}

.filter-list::after {
  content: '';
  position: absolute;
  left: 0;
  width: 200px;
  height: 15px;
  top: -15px;
}

.selection:hover .filter-list {
  display: block;
}

.filter-items {
  padding: 8px 0;
}

.filter-items-link {
  color: var(--content-text-color);
  text-decoration: none;
  padding: 8px 0;
}

.filter-items-link:hover {
  color: var(--title-text-color);
  text-decoration: underline;
}

.grid__column-product {
  padding-left: 8px;
  padding-right: 8px;
  width: 25%;
}

.product-items {
  color: var(--title-text-color);
  aspect-ratio: 1 / 1.7;
}

.product-items__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  transition: opacity linear 0.1s;
}

.product-items__name {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 12px;
  height: 16px;
  overflow: hidden;
  display: -webkit-box;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product-items-link {
  color: var(--title-text-color);
  text-decoration: none;
}

.product-items__brand {
  background-color: var(--blue);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 12px 5px;
  border-radius: 4px;
  font-weight: 500;
}

.product-items__brand-link {
  text-decoration: none;
  color: var(--title-text-color);
}

.product-items__brand-link:hover .product-items__brand {
  background-color: var(--blue-hover);
}

.product-items__price {
  padding: 14px 0 25px;
}

.product-items__price-current {
  font-size: 16px;
}

.product-items-link:hover .product-items__img {
  opacity: 0.8;
}

.product-row {
  padding-bottom: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-items {
  list-style: none;
}

.pagination-items-active .pagination-items-link {
  color: #f5f5f5;
}

.pagination-items-link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #f5f5f599;
  min-width: 35px;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
}

.pagination-items-link:hover {
  color: #f5f5f5;
}
